
@font-face {
    font-family: header-fonts;
    src: url('./Arkit\ SemiBold.ttf');
}

@font-face {
    font-family: reg-fonts;
    src: url('./Naville.ttf');
}

body {
    font-family: reg-fonts;
    line-height: 1.4;
    background-color: #fa6900;
    background-image: 
    linear-gradient(to bottom, #f7b535 0%, #1e2328 30% 70%, #fa6900 100%);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: bottom;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: header-fonts;
    text-transform: uppercase;
}

section {
    text-align: center;
    max-width: 500px;
    width: 100%;
    background-color: white;
    color: black;

    /* The borders must have equal width, padding and margin */
    border-width: 5px;
    padding: 0.8em;
    margin: 3em;

    /* The top and bottom sides of the borders must have different colors */
    border-color: #F7B535 #1E2328 #FA6900 #1E2328  ;

    /* The sides of the borders must be in two (2) distinct styles */
    border-style: solid dotted solid dashed;
}

section li {
    list-style-type: none;
}

i {
    font-size: 3rem;
    margin-bottom: 0.3em;
}

section:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border-color: black white black white;
    transition: 0.5s ease;
}
